body {
  background-color: rgba(216, 216, 216, 0.896);
  height: 100vh;
  margin: 0;
}
header {
  text-align: center;
}
nav {
  width: 80%;
  margin: 0 auto;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
nav ul a {
  text-decoration: none;
  color: black;
}
figure {
  height: fit-content;
  width: fit-content;
}
figure img {
  height: 30vh;
  width: 30vh;
}
main {
  height: 500px;
}
section {
  display: flex;
}
aside {
  width: 25%;
}
