body {
  background-color: rgba(216, 216, 216, 0.896);
  height: 100vh;
  margin: 0;
}
header {
  text-align: center;
}
nav {
  width: 80%;
  margin: 0 auto;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
nav ul a {
  text-decoration: none;
  color: black;
}
figure {
  justify-content: center;
  height: fit-content;
  width: 90%;
  background-image: cross-fade();
}
figure img {
  height: 30vh;
  /* width: 30vh; */
}
main {
  height: fit-content;
}
section {
  display: flex;
}
aside {
  width: 30%;
  height: 250px;
  padding: 5%;
}

div {
    padding-top: 5%;
}
