body {
  background-color: rgba(7, 37, 53, 0.896);
  height: 100vh;
  margin: 0;
  font-family: monospace;
  color: antiquewhite;
}
header {
  font-style: italic;
  text-align: center;
}
nav {
  width: 80%;
  margin: 0 auto;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
nav ul a {
  text-decoration: none;
  color: antiquewhite;
}
figure {
  justify-content: center;
  height: fit-content;
  width: 90%;
}
figure img {
  height: 250px;
}
main {
  height: fit-content;
}
section {
  display: flex;
}
section aside {
  width: 150px;
  height: 200px;
  padding: 5%;
}

.grid-container a {
text-decoration: none;
color:white;
font-size: larger;
}

.grid-container .img {
transition: transform .2s;
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  border: 1px solid black;
  max-width: 400px;
  max-height: 400px;
}

.grid-container .img:hover {
   transform:scale(1.25);
}

footer aside {
  width: 150px;
  height: 200px;
  padding: 5%;
}
footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.grid-container li{
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    border: 1px solid black;
    max-width: 400px;
    max-height: 400px;
}